      <div id="timeline-post">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Who We Are</h2>
                                <img src="/assets/under-heading.png" alt="" >
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                        	<h3>Background</h3>
                            <p>We are two developers,presently in second year CSE of IIIT-Delhi. We are a part of our college's incubated startup, backpack. We love to make websites and mobile apps, and when there are people who are ready to use it, it gets even better(money is always sweeet).</p>
                        </div>
                     
                    </div>
                    
            

            <div id="our-team">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Our Team</h2>
                                <img src="/assets/under-heading.png" alt="" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="authors">
                        	<div class="col-md-2"></div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-thumb">
                                    <div class="author">
                                        <img src="https://scontent-b-sin.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/10384210_860222357355454_9165065138562563715_n.jpg?oh=376e27e4a4d31b80fdf0708e1a8252de&oe=54DA0E29" alt="Tracy - templatemo">
                                    </div>
                                    <div class="overlay">
                                        <div class="author-caption">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="author-details">
                                     <h2>Ankur Singh</h2>
                                     <span>Developer</span>
                                 </div>
                            </div>
                        	<div class="col-md-2"></div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-thumb">
                                    <div class="author">
                                        <img src="https://scontent-a-sin.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10414835_746060558775013_4100521113132257892_n.jpg?oh=da0dd552e1b74032c154c6a2921e3fc7&oe=54E89C4B" alt="Mary - templatemo">
                                    </div>
                                    <div class="overlay">
                                        <div class="author-caption">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="author-details">
                                     <h2>Sahil Shekhawat</h2>
                                     <span>Developer</span>
                                 </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>






            <div id="testimonails">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Testimonials and Awards</h2>
                                <img src="/assets/under-heading.png" alt="" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="testimonails-slider">
                              <ul class="slides">
                                <li>
                                    <div class="testimonails-content">
                                         <p>An awesome app to find places which would have otherwise been unheard of. Great work!</p>
                                        <h6>Anonymous - <a href="#">CEO</a></h6>
                                    </div>
                                </li>
                                
                              </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

