/* line 1, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/actions.css.scss */
.action-well input.boolean {
  float: left;
  height: auto;
  margin: 4px 8px;
  clear: both;
}
