/* line 4, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* line 8, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.navbar {
  background-color: #2c3e50;
}

/* line 18, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-yellow {
  color: white;
  background-color: #f1c40f;
  border-color: #f1c40f;
}
/* line 10, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-yellow:hover, .btn.btn-yellow:focus, .btn.btn-yellow:active, .btn.btn-yellow.active, .open > .btn.btn-yellow.dropdown-toggle {
  color: white;
  background-color: #c29d0b;
  border-color: #b8960b;
}
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-yellow:active, .btn.btn-yellow.active, .open > .btn.btn-yellow.dropdown-toggle {
  background-image: none;
}
/* line 27, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-yellow.disabled, .btn.btn-yellow.disabled:hover, .btn.btn-yellow.disabled:focus, .btn.btn-yellow.disabled:active, .btn.btn-yellow.disabled.active, .btn.btn-yellow[disabled], .btn.btn-yellow[disabled]:hover, .btn.btn-yellow[disabled]:focus, .btn.btn-yellow[disabled]:active, .btn.btn-yellow[disabled].active, fieldset[disabled] .btn.btn-yellow, fieldset[disabled] .btn.btn-yellow:hover, fieldset[disabled] .btn.btn-yellow:focus, fieldset[disabled] .btn.btn-yellow:active, fieldset[disabled] .btn.btn-yellow.active {
  background-color: #f1c40f;
  border-color: #f1c40f;
}
/* line 33, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-yellow .badge {
  color: #f1c40f;
  background-color: white;
}
/* line 18, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-orange {
  color: white;
  background-color: #f39c12;
  border-color: #f39c12;
}
/* line 10, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-orange:hover, .btn.btn-orange:focus, .btn.btn-orange:active, .btn.btn-orange.active, .open > .btn.btn-orange.dropdown-toggle {
  color: white;
  background-color: #c87f0a;
  border-color: #be780a;
}
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-orange:active, .btn.btn-orange.active, .open > .btn.btn-orange.dropdown-toggle {
  background-image: none;
}
/* line 27, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-orange.disabled, .btn.btn-orange.disabled:hover, .btn.btn-orange.disabled:focus, .btn.btn-orange.disabled:active, .btn.btn-orange.disabled.active, .btn.btn-orange[disabled], .btn.btn-orange[disabled]:hover, .btn.btn-orange[disabled]:focus, .btn.btn-orange[disabled]:active, .btn.btn-orange[disabled].active, fieldset[disabled] .btn.btn-orange, fieldset[disabled] .btn.btn-orange:hover, fieldset[disabled] .btn.btn-orange:focus, fieldset[disabled] .btn.btn-orange:active, fieldset[disabled] .btn.btn-orange.active {
  background-color: #f39c12;
  border-color: #f39c12;
}
/* line 33, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-orange .badge {
  color: #f39c12;
  background-color: white;
}
/* line 18, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-red {
  color: white;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
/* line 10, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-red:hover, .btn.btn-red:focus, .btn.btn-red:active, .btn.btn-red.active, .open > .btn.btn-red.dropdown-toggle {
  color: white;
  background-color: #d62c1a;
  border-color: #cd2a19;
}
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-red:active, .btn.btn-red.active, .open > .btn.btn-red.dropdown-toggle {
  background-image: none;
}
/* line 27, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-red.disabled, .btn.btn-red.disabled:hover, .btn.btn-red.disabled:focus, .btn.btn-red.disabled:active, .btn.btn-red.disabled.active, .btn.btn-red[disabled], .btn.btn-red[disabled]:hover, .btn.btn-red[disabled]:focus, .btn.btn-red[disabled]:active, .btn.btn-red[disabled].active, fieldset[disabled] .btn.btn-red, fieldset[disabled] .btn.btn-red:hover, fieldset[disabled] .btn.btn-red:focus, fieldset[disabled] .btn.btn-red:active, fieldset[disabled] .btn.btn-red.active {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
/* line 33, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-red .badge {
  color: #e74c3c;
  background-color: white;
}
/* line 18, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-dark_red {
  color: white;
  background-color: #ab3326;
  border-color: #ab3326;
}
/* line 10, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-dark_red:hover, .btn.btn-dark_red:focus, .btn.btn-dark_red:active, .btn.btn-dark_red.active, .open > .btn.btn-dark_red.dropdown-toggle {
  color: white;
  background-color: #81271d;
  border-color: #79241b;
}
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-dark_red:active, .btn.btn-dark_red.active, .open > .btn.btn-dark_red.dropdown-toggle {
  background-image: none;
}
/* line 27, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-dark_red.disabled, .btn.btn-dark_red.disabled:hover, .btn.btn-dark_red.disabled:focus, .btn.btn-dark_red.disabled:active, .btn.btn-dark_red.disabled.active, .btn.btn-dark_red[disabled], .btn.btn-dark_red[disabled]:hover, .btn.btn-dark_red[disabled]:focus, .btn.btn-dark_red[disabled]:active, .btn.btn-dark_red[disabled].active, fieldset[disabled] .btn.btn-dark_red, fieldset[disabled] .btn.btn-dark_red:hover, fieldset[disabled] .btn.btn-dark_red:focus, fieldset[disabled] .btn.btn-dark_red:active, fieldset[disabled] .btn.btn-dark_red.active {
  background-color: #ab3326;
  border-color: #ab3326;
}
/* line 33, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-dark_red .badge {
  color: #ab3326;
  background-color: white;
}
/* line 18, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-purple {
  color: white;
  background-color: #9b59b6;
  border-color: #9b59b6;
}
/* line 10, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-purple:hover, .btn.btn-purple:focus, .btn.btn-purple:active, .btn.btn-purple.active, .open > .btn.btn-purple.dropdown-toggle {
  color: white;
  background-color: #804399;
  border-color: #7a4092;
}
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-purple:active, .btn.btn-purple.active, .open > .btn.btn-purple.dropdown-toggle {
  background-image: none;
}
/* line 27, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-purple.disabled, .btn.btn-purple.disabled:hover, .btn.btn-purple.disabled:focus, .btn.btn-purple.disabled:active, .btn.btn-purple.disabled.active, .btn.btn-purple[disabled], .btn.btn-purple[disabled]:hover, .btn.btn-purple[disabled]:focus, .btn.btn-purple[disabled]:active, .btn.btn-purple[disabled].active, fieldset[disabled] .btn.btn-purple, fieldset[disabled] .btn.btn-purple:hover, fieldset[disabled] .btn.btn-purple:focus, fieldset[disabled] .btn.btn-purple:active, fieldset[disabled] .btn.btn-purple.active {
  background-color: #9b59b6;
  border-color: #9b59b6;
}
/* line 33, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-purple .badge {
  color: #9b59b6;
  background-color: white;
}
/* line 18, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-dark_blue {
  color: white;
  background-color: #2c3e50;
  border-color: #2c3e50;
}
/* line 10, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-dark_blue:hover, .btn.btn-dark_blue:focus, .btn.btn-dark_blue:active, .btn.btn-dark_blue.active, .open > .btn.btn-dark_blue.dropdown-toggle {
  color: white;
  background-color: #1a242f;
  border-color: #161f29;
}
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-dark_blue:active, .btn.btn-dark_blue.active, .open > .btn.btn-dark_blue.dropdown-toggle {
  background-image: none;
}
/* line 27, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-dark_blue.disabled, .btn.btn-dark_blue.disabled:hover, .btn.btn-dark_blue.disabled:focus, .btn.btn-dark_blue.disabled:active, .btn.btn-dark_blue.disabled.active, .btn.btn-dark_blue[disabled], .btn.btn-dark_blue[disabled]:hover, .btn.btn-dark_blue[disabled]:focus, .btn.btn-dark_blue[disabled]:active, .btn.btn-dark_blue[disabled].active, fieldset[disabled] .btn.btn-dark_blue, fieldset[disabled] .btn.btn-dark_blue:hover, fieldset[disabled] .btn.btn-dark_blue:focus, fieldset[disabled] .btn.btn-dark_blue:active, fieldset[disabled] .btn.btn-dark_blue.active {
  background-color: #2c3e50;
  border-color: #2c3e50;
}
/* line 33, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-dark_blue .badge {
  color: #2c3e50;
  background-color: white;
}
/* line 18, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-light_blue {
  color: white;
  background-color: #3498db;
  border-color: #3498db;
}
/* line 10, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-light_blue:hover, .btn.btn-light_blue:focus, .btn.btn-light_blue:active, .btn.btn-light_blue.active, .open > .btn.btn-light_blue.dropdown-toggle {
  color: white;
  background-color: #217dbb;
  border-color: #2077b2;
}
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-light_blue:active, .btn.btn-light_blue.active, .open > .btn.btn-light_blue.dropdown-toggle {
  background-image: none;
}
/* line 27, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-light_blue.disabled, .btn.btn-light_blue.disabled:hover, .btn.btn-light_blue.disabled:focus, .btn.btn-light_blue.disabled:active, .btn.btn-light_blue.disabled.active, .btn.btn-light_blue[disabled], .btn.btn-light_blue[disabled]:hover, .btn.btn-light_blue[disabled]:focus, .btn.btn-light_blue[disabled]:active, .btn.btn-light_blue[disabled].active, fieldset[disabled] .btn.btn-light_blue, fieldset[disabled] .btn.btn-light_blue:hover, fieldset[disabled] .btn.btn-light_blue:focus, fieldset[disabled] .btn.btn-light_blue:active, fieldset[disabled] .btn.btn-light_blue.active {
  background-color: #3498db;
  border-color: #3498db;
}
/* line 33, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-light_blue .badge {
  color: #3498db;
  background-color: white;
}
/* line 18, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-blue_green {
  color: white;
  background-color: #18bc9c;
  border-color: #18bc9c;
}
/* line 10, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-blue_green:hover, .btn.btn-blue_green:focus, .btn.btn-blue_green:active, .btn.btn-blue_green.active, .open > .btn.btn-blue_green.dropdown-toggle {
  color: white;
  background-color: #128f76;
  border-color: #11866f;
}
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-blue_green:active, .btn.btn-blue_green.active, .open > .btn.btn-blue_green.dropdown-toggle {
  background-image: none;
}
/* line 27, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-blue_green.disabled, .btn.btn-blue_green.disabled:hover, .btn.btn-blue_green.disabled:focus, .btn.btn-blue_green.disabled:active, .btn.btn-blue_green.disabled.active, .btn.btn-blue_green[disabled], .btn.btn-blue_green[disabled]:hover, .btn.btn-blue_green[disabled]:focus, .btn.btn-blue_green[disabled]:active, .btn.btn-blue_green[disabled].active, fieldset[disabled] .btn.btn-blue_green, fieldset[disabled] .btn.btn-blue_green:hover, fieldset[disabled] .btn.btn-blue_green:focus, fieldset[disabled] .btn.btn-blue_green:active, fieldset[disabled] .btn.btn-blue_green.active {
  background-color: #18bc9c;
  border-color: #18bc9c;
}
/* line 33, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-blue_green .badge {
  color: #18bc9c;
  background-color: white;
}
/* line 18, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-green {
  color: white;
  background-color: #01c94f;
  border-color: #01c94f;
}
/* line 10, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-green:hover, .btn.btn-green:focus, .btn.btn-green:active, .btn.btn-green.active, .open > .btn.btn-green.dropdown-toggle {
  color: white;
  background-color: #01963b;
  border-color: #018c37;
}
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-green:active, .btn.btn-green.active, .open > .btn.btn-green.dropdown-toggle {
  background-image: none;
}
/* line 27, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-green.disabled, .btn.btn-green.disabled:hover, .btn.btn-green.disabled:focus, .btn.btn-green.disabled:active, .btn.btn-green.disabled.active, .btn.btn-green[disabled], .btn.btn-green[disabled]:hover, .btn.btn-green[disabled]:focus, .btn.btn-green[disabled]:active, .btn.btn-green[disabled].active, fieldset[disabled] .btn.btn-green, fieldset[disabled] .btn.btn-green:hover, fieldset[disabled] .btn.btn-green:focus, fieldset[disabled] .btn.btn-green:active, fieldset[disabled] .btn.btn-green.active {
  background-color: #01c94f;
  border-color: #01c94f;
}
/* line 33, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-green .badge {
  color: #01c94f;
  background-color: white;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label {
  margin-right: 10px;
  font-weight: 500;
}
/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.yellow {
  background-color: #f1c40f;
}
/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.orange {
  background-color: #f39c12;
}
/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.red {
  background-color: #e74c3c;
}
/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.dark_red {
  background-color: #ab3326;
}
/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.purple {
  background-color: #9b59b6;
}
/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.dark_blue {
  background-color: #2c3e50;
}
/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.light_blue {
  background-color: #3498db;
}
/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.blue_green {
  background-color: #18bc9c;
}
/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.green {
  background-color: #01c94f;
}

/* line 39, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.nilable-addon .form-group {
  margin-bottom: 0;
}
/* line 42, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.nilable-addon label {
  padding-top: 6px;
  padding-left: 28px;
}
/* line 46, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.nilable-addon input[type=checkbox] {
  margin-top: -17px !important;
}

/* line 51, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.new-button-wrapper {
  padding-top: 8px;
}

/* line 55, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.pagination:first-of-type {
  margin-bottom: 0px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard span {
  padding: 12px 12px 10px 12px;
  margin-right: 5px;
  background: #efefef;
  position: relative;
  display: inline-block;
}

/* line 61, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard span:before {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #fff;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

/* line 62, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard span:after {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #efefef;
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  z-index: 2;
}

/* line 63, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard span:first-child:before {
  border: none;
}

/* line 64, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard span:last-child:after {
  border: none;
}

/* line 66, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard span:first-child {
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

/* line 67, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard span:last-child {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

/* line 69, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard .badge {
  margin: 0 5px 0 18px;
  position: relative;
  top: -1px;
}

/* line 70, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard span:first-child .badge {
  margin-left: 0;
}

/* line 72, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard .current {
  background: #007ACC;
  color: #fff;
}

/* line 73, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard .current:after {
  border-left-color: #007ACC;
}
