 <div id="heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-content">
                                <h2>Browse Places</h2>
                                <span>Home / <a href="/home">Places</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

  <div id="products-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="product-heading">
                    <h2>Looking for something ?</h2>
                    <img src="/assets/under-heading.png" alt="" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="filters col-md-12 col-xs-12">
                <ul id="filters" class="clearfix">
                    <li><a href="/home">All</a></li>
                    <% Place::CATEGORIES.keys.each do |x| %>
                        <li><a href="/home/<%=x.downcase%>">, <%=x.capitalize%></a></li>
                    <% end %>
                </ul>
            </div>
        </div>
        <div class="row" id="Container">
			<div id="my-posts">
			  <%= render @places %>
			</div>
		</div>
	   </div>
    </div>

 
<div id="infinite-scrolling" style="display:none">
  <%= will_paginate %>
</div>